* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
}

.body {
  background: #faf5f0;
  font-family: "Lora", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.lifting-section {
  height: 100vh;
}

.lift-section__inner {
  border-radius: 24px;
  max-width: 1424px;
  width: 100%;
  min-height: 684px;
  box-shadow: 0 2px 2px 0 rgba(58, 58, 58, 0.08);
  background: #fff;
  padding: 128.5px 0px 128.5px 120px;
  position: relative;
  margin-top: 30px;
}
@media (max-width: 1360px) {
  .lift-section__inner {
    min-height: 584px;
    padding: 91.5px 0px 91.5px 90px;
  }
}
@media (max-width: 1240px) {
  .lift-section__inner {
    min-height: 384px;
    padding: 56px 0px 56px 40px;
  }
}
@media (max-width: 990px) {
  .lift-section__inner {
    border-radius: 20px;
    min-height: 792px;
    padding: 48px 32px 0 24px;
  }
}
@media (min-width: 320px) and (max-width: 369px) {
  .lift-section__inner {
    padding: 28px 22px 0 14px;
    min-height: 792px;
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .lift-section__inner {
    min-height: 592px;
  }
}

@media (max-width: 990px) {
  .lift-section__box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lift-section__title {
  font-family: "Lora";
  font-weight: normal;
  font-size: 56px;
  line-height: 0.94;
  letter-spacing: -0.04em;
  color: #1b1b1b;
  margin-bottom: 32px;
}

.lift-section__title_nowrap {
  white-space: nowrap;
}

@media (max-width: 1410px) {
  .lift-section__title {
    font-size: 45px;
  }
}

@media (max-width: 1240px) {
  .lift-section__title {
    font-size: 40px;
  }
}
@media (max-width: 990px) {
  .lift-section__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
  }
}
@media (max-width: 404px) {
  .lift-section__title {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .lift-section__title {
    font-size: 24px;
  }
}

.lift-section__list {
  display: flex;
  flex-direction: column;
  gap: 24px 0px;
}

.lift-section__item {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
@media (max-width: 990px) {
  .lift-section__item {
    align-items: start;
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .lift-section__item {
    column-gap: 10px;
  }
}

.lift-section__text {
  font-family: "Lora";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #1b1b1b;
}
@media (max-width: 990px) {
  .lift-section__text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .lift-section__text br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .lift-section__text {
    font-size: 14px;
  }
}

.lift-section__icon {
  padding: 11px;
  border-radius: 50%;
  background: #f8f1ea;
  max-width: 40px;
  width: 100%;
  height: 40px;
}

.lift-section__icon-img {
  max-width: 18px;
  width: 100%;
}

.lift-section__btn {
  margin-top: 56px;
  max-width: 186px;
  width: 100%;
}
@media (max-width: 400px) {
  .lift-section__btn {
    margin-top: 48px;
  }
}

.lift-section__link {
  display: block;
  width: 100%;
  border-radius: 999px;
  padding: 16px 24px;
  box-shadow: 1px 3px 7px 0 rgba(113, 87, 71, 0.2),
    5px 13px 13px 0 rgba(113, 87, 71, 0.17),
    11px 28px 18px 0 rgba(113, 87, 71, 0.1),
    19px 51px 22px 0 rgba(113, 87, 71, 0.03),
    29px 79px 24px 0 rgba(113, 87, 71, 0);
  background: linear-gradient(180deg, #d4b26f 0%, #a87c25 100%);
  text-decoration: none;
  position: relative;
}

.lift-section__link-text {
  font-family: "Lora";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.24;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.lift-section__arrow {
  position: absolute;
  right: 24px;
  top: 12px;
  max-width: 24px;
  width: 100%;
}

.lift-section__box-image {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 24px;
}

.lift-section__box-image-fase {
  max-width: 633px;
  height: 684px;
  border-radius: 24px;
}
@media (max-width: 1360px) {
  .lift-section__box-image-fase {
    max-width: 533px;
    height: 584px;
  }
}
@media (max-width: 1240px) {
  .lift-section__box-image-fase {
    max-width: 433px;
    height: 484px;
  }
}
@media (min-width: 990px) {
  .lift-section__box-image_pc {
    display: block;
  }
  .lift-section__box-image_xs {
    display: none;
  }
}
@media (max-width: 990px) {
  .lift-section__box-image_pc {
    display: none;
  }
  .lift-section__box-image_xs {
    display: block;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 58%;
    transform: translateX(-50%);
    height: 346px;
  }
  .lift-section__box-image_xs img {
    max-width: 326px;
    height: 346px;
  }
}

@media (max-width: 750px) {
  .lift-section__box-image_xs {
    left: 55%;
    transform: translateX(-50%);
  }
}
@media (max-width: 500px) {
  .lift-section__box-image_xs {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 500px) {
  .lift-section__box-image_xs {
    left: 40%;
    transform: translateX(-50%);
  }
}

@media (max-width: 380px) {
  .lift-section__box-image_xs {
    top: 64%;
    left: 40%;
    transform: translateX(-50%);
  }
}

@media (min-width: 320px) and (max-width: 369px) {
  .lift-section__box-image_xs {
    max-width: 296px;
    height: 316px;
  }
  .lift-section__box-image_xs img {
    max-width: 296px;
    height: 316px;
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .lift-section__box-image_xs {
    max-width: 196px;
    height: 216px;
    left: 50%;
    transform: translateX(-50%);
  }
  .lift-section__box-image_xs img {
    max-width: 196px;
    height: 216px;
  }
}
