.body {
  min-width: 320px;
  max-width: 2560px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 1440px;
  background: rgb(233, 223, 223);
}

.lift-section {
  display: flex;
  align-items: center;
 max-width: 1440px;
  width: 100%;
  min-height: 684px;
}

.lift-section__content {
  outline: red solid 4px;
  max-width: 720px;
  min-height: 427px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lift-section__title {
  margin: 0;
  max-width: 720px;
  font-family: GT Eesti Pro Text;
  font-weight: 375;
  font-style: Book;
  font-size: 56px;
  line-height: 94%;
  letter-spacing: -4%;
}

.lift-section__title-nowrap {
    white-space: nowrap;
}

.lift-section__lists {
  padding: 0;
}

.lift-section__lists-item {
  margin: 0;
  margin: 0px 0px 24px 13px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.lift-section__lists-item:last-child {
  margin-bottom: 0; 
  
}

.lift-section__icon {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

.lift-section__text {
  margin: 0;
  max-width: 452px;
  font-family: KyivType Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 140%;
  text-indent: font/paragraphIndent/none;
  letter-spacing: -1%;
}

.lift-section__button-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 56px;
  background: linear-gradient(180deg, #d4b26f -66.86%, #a87c25 180.08%);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
  font-family: KyivType Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 124%;
  text-indent: font/paragraphIndent/none;
  letter-spacing: -1%;
  vertical-align: middle;
  text-transform: uppercase;
}

.lift-section__button-icon {
    width: 24px;
    height: 24px;
    margin-left: 25px;
}

.lift-section__button-details:hover {
  background-color: #b98b5f;
}

.lift-section__image-container {
 margin-left: -300px;
}

.lift-section__image {
  outline: 3px green solid;
  width: 100%;
  height: 100%;
  object-fit: cover;
 float: left;
}

@media (max-width: 390px) {
  .lift-section {
    flex-direction: column;
    padding: 15px;
  }

  .lift-section__content {
    padding: 0;
    text-align: center;
  }

  .lift-section__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .lift-section__lists {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .lift-section__lists-item {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .lift-section__button-details {
    padding: 10px 20px;
    font-size: 13px;
  }

  .lift-section__image-container {
    margin-top: 20px;
    width: 100%;
  }

  .lift-section__image-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
